:root{
    --red : 231, 14, 2; alt: #E70E02;
    --red-orange : 244, 43, 3; alt: #f42b03;
    --dark-orange : 216, 74, 5; alt: #D84A05;
    --light-orange : 236, 117, 5; alt: #EC7505;
    --yellow : 232, 144, 5; alt: #E89005;
}

/* HERO CUSTOM STYLES */
.hero{
}

.hero-title{
    margin-top: 250px;

    font-family: 'Urbanist';
    font-weight: 700;
}

.hero-info{
    font-family: 'Urbanist';
    font-weight: 500;
}

/* SUBMIT CUSTOM STYLES */
.submit-btn{
    border: solid black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.submit-btn:hover{
    background-color: var(--yellow);
}

.team-selector{
    border: solid rgb(188, 195, 203);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.result{
    width: 600px;
    height: 200px;
    border: 3px solid #333;
    background-color: rgba(var(--red-orange), 0.8);
    font-family: 'Urbanist';
}

.player-stats, .standings{
    min-height: 700px;
    margin-top: 50px;
}

.player-listing{
    min-height: 10px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
}