/* HERO CUSTOM STYLES */
.hero{
}

.hero-title{
    margin-top: 250px;

    font-family: Gabarito;
    font-weight: 600;
    font-size: 55px;
}

.hero-info{
    font-family: Gabarito;
    font-weight: 400;
    font-size: 18px;
}

/* SUBMIT CUSTOM STYLES */
.submit-btn{
    border: solid black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.submit-btn:hover{
    background-color: lightblue;
}

.team-selector{
    border: solid rgb(188, 195, 203);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}