:root{
    --red : 231, 14, 2; alt: #E70E02;
    --red-orange : 244, 43, 3; alt: #f42b03;
    --dark-orange : 216, 74, 5; alt: #D84A05;
    --light-orange : 236, 117, 5; alt: #EC7505;
    --yellow : 232, 144, 5; alt: #E89005;
}

/* GLOBAL STYLES */
.ml-8 {
    background : linear-gradient(90deg, rgba(var(--red), 0.8) 0%, rgba(var(--red-orange), 0.8) 100%);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-family: 'Urbanist';
    font-weight: 700;
    
}

    
/* HERO CUSTOM STYLES */
.hero{
}

.hero-title{
    margin-top: 250px;
    font-family: 'Urbanist';
    font-weight: 700;
    font-size: 55px;
}

.hero-info{
        font-family: 'Urbanist';
        font-weight: 500;
        font-size: 20px;
        margin-top: 20px;
}

.hero-title span{
    color: white;
    font-style: italic;
    font-weight: 700;
    background-color: #E89005;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.hero-info span{
    color: white;
    font-style: italic;
    font-weight: 700;
    background-color: #E89005;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/* SUBMIT CUSTOM STYLES */
.submit-btn{
    border: solid #f42b03;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.submit-btn:hover{
    background-color: rgba(var(--yellow), 0.8);
}

.team-selector{
        border: solid #f42b03;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
}

.team-selector:hover{
    background-color: rgba(var(--yellow), 0.8);
}

.result{
    width: 600px;
    height: 200px;
    border: 3px solid #333;
    background-color: rgba(var(--red-orange), 0.8);
    font-family: 'Urbanist';
}

.player-stats, .standings{
    min-height: 700px;
    margin-top: 50px;
}

.player-listing{
    min-height: 10px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
}